.button {
  color: hsl(0, 0%, 14%);
  background: hsl(0, 0%, 93%);
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 5px 0 5px;
}

.icon {
  font-size: 16px;
  margin: 0 5px 0 0;
}

.confirm {
  color: rgb(238, 238, 238);
  background: hsl(204, 96%, 42%);
  background: var(--app-brand-color);
}

.danger {
  color: rgb(238, 238, 238);
  background: hsl(0, 96%, 42%);
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 96%, 42%);
}

@media screen and (max-width: 700px) {
  .button {
    font-size: 13px;
  }

  .icon {
    font-size: 13px;
  }
}
