.container {
  transition: 400ms ease-in-out all;
  overflow: hidden;
}

.heading {
  background: hsl(0, 0%, 90%);
  color: hsl(204, 96%, 42%);
  color: var(--app-brand-color);
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsla(0, 0%, 0%, 0.075);
  min-height: 35px;
  max-height: 35px;
  padding: 0 10px 0 10px;
}

.icon {
  font-size: 30px;
  transition: 200ms ease all;
}

.rotate {
  transform: rotate(-180deg);
}

.content {
  transition: 300ms ease-in-out all;
}
