.sidenav {
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: hsl(0, 0%, 96%);
  background: var(--headerButton-background);
  overflow-x: hidden;
  transition: 200ms ease-in-out transform;
  box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.301);
}

.mobileBrandName {
  font-size: 20px;
  font-weight: bold;
  color: var(--app-brand-color);
  font-family: "Hammersmith One", sans-serif;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  display: none;
}

.defaultBrandName {
  font-size: 20px;
  font-weight: bold;
  color: hsl(204, 96%, 42%);
  color: var(--app-brand-color);
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
}

.sidenavSpacer {
  height: 200px;
  width: 100%;
}

.sidenavHeader {
  color: hsl(204, 96%, 42%);
  display: flex;
  flex-direction: row;
  height: 50px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsl(0, 0%, 88%);
  border-color: var(--headerButton-border-color);
}

.sidenav a {
  padding: 8px 0 8px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #161616;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  background: hsl(0, 0%, 95%);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsla(0, 0%, 0%, 0.075);
}

.favoriteListItemIcon {
  cursor: pointer;
  color: hsl(0, 0%, 15%);
}

.sidenav .listOptionSelected {
  background: hsl(0, 0%, 90%);
}

.favoriteListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: #161616;
  background: hsl(0, 0%, 95%);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsla(0, 0%, 0%, 0.075);
}

.favoriteItem {
  padding: 5px 0 0 10px;
  cursor: pointer;
  flex-grow: 2;
  overflow: hidden;
}

.favoriteListItemButton {
  background: none;
  border: none;
  font-size: 10px;
  margin: 0;
  padding: 10px;
  min-height: 100%;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: hsla(0, 0%, 0%, 0.075);
  cursor: pointer;
}

.colorModalDialog {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%) scale(.7,.7);
  position: absolute;
  border: none;
  transition: .3s ease all;
  background: rgb(255, 255, 255);
  color: black;
  opacity: 0;
  border-radius: 9px;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.3);
  z-index: 99;
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
}
.colorModalDialogAfterOpen {
  transform: translate(-50%, -50%) scale(1,1);
  opacity: 1;
}

.colorModalDialogBeforeClose {
  opacity: 0;
}

.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
  background: rgba(31, 39, 85, 0);
  z-index: 98;
}

.modalOverlayAfterOpen {
  background: rgba(24, 30, 61, 0.7);
}

.modalOverlayBeforeClose {
  background: rgba(31, 39, 85, 0);
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 200px;
  }

  .sidenav a {
    font-size: 14px;
  }

  .mobileBrandName {
    display: flex;
  }

  .defaultBrandName {
    display: none;
  }
}
