.App {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-gap: 1px;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 50px auto 40px;
  background: var(--header-button-border-color);
}

.flipmove-container {
  grid-area: "content";
  background: hsl(0, 0%, 16%);
}

.modal-box-container {
  display: flex;
}

.modal-box-heading {
  font-size: 20px;
}

.modal-inner-box {
  background: rgb(223, 223, 223);
  padding: 10px;
  margin: 5px 10px 10px 0;
  cursor: text;
  border-radius: 5px;
}

.modal-color-val {
  font-size: 17px;
  margin: 4px;
}

@media screen and (max-width: 700px) {
  .App {
    grid-template-areas: "header" "content";
    grid-template-rows: 50px auto;
  }
}


.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
  /* transition: .2s ease all; */
  background: rgba(31, 39, 85, 0);
  z-index: 98;
}

.modalOverlay_after-open {
  background: rgba(24, 30, 61, 0.7);
}

.modalOverlay_before-close {
  background: rgba(31, 39, 85, 0);
}


.colorModalDialog {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%) scale(.7,.7);
  position: absolute;
  border: none;
  transition: .3s ease all;
  background: rgb(255, 255, 255);
  color: black;
  opacity: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.3);
  z-index: 99;
}

.colorModalDialog_after-open {
  transform: translate(-50%, -50%) scale(1,1);
  opacity: 1;
}

.colorModalDialog_before-close {
  opacity: 0;
}

.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;  
  font-size: 13px;
  background: black;
  color: white;
  cursor: pointer;
}

.modal-close-button:active {
  transform: scale(.9,.9);
}
