.container {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-gap: 1px;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 50px auto 40px;
  background: var(--headerButton-border-color);
}

.loaderContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  font-family: var(--app-font);
  height: 100%;
  background: rgb(41, 41, 41);
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-areas: "header" "content";
    grid-template-rows: 50px auto;
  }
}

