.headerButton {
  background: hsl(0, 0%, 96%);
  background: var(--headerButton-background);
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: hsl(0, 0%, 88%); /* fallback */
  border-color: var(--headerButton-border-color);
  text-align: center;
  cursor: pointer;
  width: 80px;
}

.headerButton:first-of-type {
  border-width: 0 1px 0 0;
}

.headerButton:first-of-type {
  border-width: 0 1px 0 0;
}

.headerButton:last-child {
  border-width: 0 1px 0 1px;
}

.headerIcon {
  color: hsl(204, 96%, 42%);
  color: var(--app-brand-color);
  transition: 200ms cubic-bezier(.66,-0.06,.24,1.22) transform;
  pointer-events:none;
  font-size: 20px;
  transform: scale(1, 1);
}

.headerButton:active .headerIcon {
  color: hsl(310, 100%, 50%);
  transform: scale(.8,.8);
}


.indicatorOverlay {
  font-family: var(--app-font);
  color: white;
  z-index: 1;
  position: absolute;
  transform: scale(1, 1);
  margin: -5px 0 0 24px;
  padding: 0;
  font-size: 11px;
  background: hsl(217, 63%, 52%);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  transition: 200ms ease all;
}

.headerButton:active .indicatorOverlay {
  background: hsl(310, 100%, 50%);
  transform: scale(.7,.7);
}

@media screen and (max-width: 700px) {
  .headerButton {
    width: 50px;
  }
}
