.header {
  grid-area: "header";
  display: flex;
  flex-direction: row;
  background: hsl(0, 0%, 96%);
  background: var(--header-background);
  overflow: hidden;
  min-height: 50px;
  max-height: 50px;
}

.defaultBrandName {
  font-size: 20px;
  font-weight: bold;
  color: hsl(204, 96%, 42%);
  color: var(--app-brand-color);
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
}

.mobileBrandName {
  font-size: 20px;
  font-weight: bold;
  color: var(--app-brand-color);
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  display: none;
}

@media screen and (max-width: 700px) {
  .defaultBrandName {
    display: none;
  }
  .mobileBrandName {
    display: flex;
  }
}
