.header {
  grid-area: "header";
  display: flex;
  flex-direction: row;
  background: var(--header-background);
  overflow: hidden;
  max-height: 50px;
}

.default-brand-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--app-brand-color);
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
}

.mobile-brand-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--app-brand-color);
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  display: none;
}

@media screen and (max-width: 700px) {
  .default-brand-name {
    display: none;
  }
  .mobile-brand-name {
    display: flex;
  }
}
