.edit-details-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.edit-details-input-container {
  display: flex;
  justify-content: space-between;
}

.edit-details-heading {
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  padding: 0 0 5px 0;
  font-size: 20px;
  margin: 0 0 20px 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsla(0, 0%, 0%, 0.1);
}

.edit-details-heading-delete {
  color: red;
}

.edit-details-input-heading {
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  margin: 10px 0 5px 0;
  font-size: 17px;
  max-width: 250px;
}

.edit-details-text-span {
  font-style: italic;
}

.edit-details-input {
  color: rgb(36, 36, 36);
  border: none;
  background: rgb(236, 236, 236);
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  padding: 5px;
  border-radius: 3px;
}

.edit-details-button {
  color: rgb(36, 36, 36);
  background: rgb(236, 236, 236);
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  border: none;
  padding: 7px 13px 7px 13px;
  border-radius: 3px;
  margin: 20px 0 0 0;
}

.edit-details-button:first-of-type {
  margin: 20px 10px 0 0;
}

.edit-details-button:last-child {
  margin: 20px 0 0 10px;
}

.confirm {
  color: rgb(238, 238, 238);
  background: hsl(204, 96%, 42%);
  background: var(--app-brand-color);
}

.delete {
  color: hsl(0, 96%, 42%);
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 96%, 42%);
}
