.paletteSwatchContainer {
  display: flex;
  flex-direction: row;
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  height: 100%;
  background: rgb(41, 41, 41);
}

.emptyPalettePlaceholder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 4;
  color: white;
  font-size: 15px;
}

.emptyPalettePlaceholderIcon {
  font-size: 16px;
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .paletteSwatchContainer {
    flex-direction: column;
  }
}
