.palette-swatch-container {
  display: flex;
  flex-direction: row;
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  height: 100%;
}

@media screen and (max-width: 700px) {
  .palette-swatch-container {
    flex-direction: column;
  }
}
