.card-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  width: 100%;
  margin: 0;
  padding: 0;
  perspective: 200px;
  overflow: hidden;
}
