.footer {
  min-height: 40px;
  grid-area: "footer";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: hsl(0, 0%, 96%);
  background: var(--header-background);
  font-family: "Varela Round", sans-serif;
  font-family: var(--app-font);
  font-size: 15px;
}

.footerAlpha {
  font-weight: bold;
  padding: 0 10px 0 10px;
  color: hsl(347, 96%, 42%);
}

.footerSubheading {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px 0 10px;
  color: hsl(204, 96%, 42%);
  color: var(--app-brand-color);
}

.footerSubheadingValue {
  font-size: 15px;
  text-transform: capitalize;
  margin: 0 10px 0 0;
}

.footerLeft {
  display: flex;
  flex-direction: row;
}

.footerRight {
  color: hsl(0, 0%, 40%);
  display: flex;
  display: flex; 
  flex-direction: row;
  align-content: center;
  align-items: center;

}

.footerLink {
  padding: 0;
  margin: 0 10px 0 5px;
  text-decoration: none;
  color: hsl(204, 96%, 42%);
  display: flex; 
  flex-direction: row;
  align-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .footer {
    display: none;
  }
}
