.color-picker-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  
}

.color-picker-inner {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--header-button-background);
  border-radius: 5px;
  box-shadow: 0 0 25px 0 hsla(0, 0%, 0%, 0.4);
}

.color-picker-header {

}

.color-picker-category {
  background: none;
  color: var(--app-brand-color);
  font-weight: bold;
  padding: 10px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: var(--header-button-border-color);
  cursor: pointer;
}

.color-picker-category-check {
  color: rgb(21, 197, 21);
  font-size: 15px;
  margin: 0 0 0 5px;
}

.color-picker-category:last-child {
  border: none;
}

.bar {
  width: 100%;
  height: 100%;
}

.bar-container {
  width: 100%;
  height: 15px;
  box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.2);
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 0 10px 0 10px;
}

.my-handle {
  background-color: var(--app-text-color);
  color: black;
  font-size: 15px;
  width: 20px;
  height: 20px;
  margin: -7px 0 0 0;
  padding: 5px;
  text-align: center;
  line-height: 20px;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 hsla(0, 0%, 0%, 0.2);
  cursor: grab;
}

.my-handle:active {
  cursor: grabbing;
}

.test-handle:active {
  background-color: var(--app-brand-color);
}

.color-picker-button {
  border: none;
  margin: 10px 10px 10px 5px;
  width: 70px;
  height: 45px;
  line-height: 42px;
  text-align: center;
  background: none;
  color: var(--app-brand-color);
  font-size: 17px;
  transition: 0.2s ease all;
}

.color-picker-button:hover {
  transform: scale(1.1, 1.1);
}

.color-picker-button:active {
  transform: scale(0.9.9);
}

.slider-input {
  color: black;
  background: hsl(0, 0%, 88%);
  max-width: 40px;
  height: 30px;
  border: none;
  margin: 0 5px 0 0;
  padding: 0 0 0 5px;
  border-radius: 3px;
}
