.header-button {
  background: var(--header-button-background);
  /* transition: .3s ease all; */
  width: 60px;
  min-width: 60px;
  height: 45px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: var(--header-button-border-color);
  text-align: center;
  cursor: pointer;
}

.header-icon {
  color: var(--app-brand-color);
  transition: .2s ease transform;
  pointer-events:none;
  font-size: 20px;
  transform: scale(1, 1);
}

.header-button:active .header-icon {
  color: rgb(255, 0, 212);
  transform: scale(.8,.8);
}


.indicator-overlay {
  font-family: var(--app-font);
  color: var(--app-text-color);
  text-shadow: 1px 1px 3px black;
  z-index: 1;
  position: absolute;
  transform: scale(1, 1);
  margin: -5px 0 0 22px;
  padding: 0;
  font-size: 14px;
  background: hsl(217, 63%, 52%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
