.header-button {
  background: var(--header-button-background);
  transition: .3s ease all;
  width: 80px;
  height: 45px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: var(--header-button-border-color);
  text-align: center;
  cursor: pointer;
}

.header-icons {
  /* text-shadow: -1px -1px 0 hsla(0, 0%, 0%, 0.2); */
  color: var(--app-brand-color);
  transition: .3s ease all;
  pointer-events:none;
  position: absolute;
  font-size: 20px;
  opacity: 1;
  transform: scale(1, 1);
}

.button-text {
  transition: .1s ease all;
  pointer-events:none;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  font-size: 14px;
  font-weight: bold;
  transform: scale(0, 0);
  font-family: var(--app-font);
}

.indicator-overlay {
  font-family: var(--app-font);
  transition: .3s ease all;
  color: var(--app-text-color);
  text-shadow: 1px 1px 3px black;
  z-index: 1;
  position: absolute;
  transform: scale(1, 1);
  margin: -5px 0 0 22px;
  padding: 0;
  font-size: 14px;
  background: hsl(217, 63%, 52%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.header-button:hover .indicator-overlay {
  opacity: 0;
  transform: scale(0, 0);
}

.header-button:hover .header-icons {
  opacity: 0;
  transform: scale(0, 0);
  color: hsl(213, 72%, 66%);
}

.header-button:hover .button-text {
  opacity: 1;
  transform: scale(1, 1);
  color: hsl(332, 76%, 59%);
}

.header-button:active .button-text {
  font-size: 12px;
  color: hsl(213, 72%, 66%);
}
