.miniPaletteContainer {
  display: flex;
  flex-direction: row;
  transition: 200ms ease all;
}

.miniSwatch {
  width: 30px;
  height: 20px;
  transition: 100ms ease all;
}

.miniSwatch:first-child {
  border-radius: 4px 0 0 4px;
}

.miniSwatch:last-child {
  border-radius: 0 4px 4px 0;
}


.miniSwatchAlt {
  width: 30px;
  height: 20px;
  transition: 100ms ease all;
}

.miniSwatchAlt:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
}

.miniSwatchAlt:first-child {
  border-radius: 4px 0 0 4px;
}

.miniSwatchAlt:last-child {
  border-radius: 0 4px 4px 0;
}


