:root {
  /* General App Style */
  --app-background: hsl(0, 0%, 90%);
  --app-text-color: hsl(0, 0%, 15%);

  /* --app-font: 'PT Sans', sans-serif; */
  --app-font: "Varela Round", sans-serif;
  --app-brand-color: hsl(204, 96%, 42%);

  /* Buttons */

  /* card */
  --card-background: hsl(0, 0%, 100%);

  /* Header */
  --header-background: hsl(0, 0%, 96%);
  --header-select-background: hsl(0, 0%, 96%);
  --headerButton-background: hsl(0, 0%, 96%);
  --headerButton-color: hsl(0, 0%, 15%);
  --headerButton-border-color: hsl(0, 0%, 88%);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "PT Sans", sans-serif;
  overflow-y: hidden;
}

button:focus {
  outline: 0;
}

button {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


